<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">


</head>

<body>
    <header>
        <nav>
            <a href="home">
                <h1>Expense Tracker</h1>
            </a>
            <div>
                <a href="submit">About</a>
                <a href="register">Register</a>
                <a href="contact">Contact</a>
            </div>
        </nav>

    </header>

    <section id="hero-banner">
        <div class="banner-inner">
               <div class="ban-container">
                   <div class="row">
                       <div class="col-sm-12">
                            
                               <h2>Stronger than <b>EVER</b></h2>
                               <p>Lorem ipsum dolor sit amet, consectetur adipisici <br/> Praesent eget risus.</p>
                               <a class="btn btn-primary btn-lg" href="#">Start Now</a>
                           
                       </div>
                   </div>
               </div>
           </div>
</section>
   
</body>

</html>