<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>User Login</title>
</head>
<body>
    <header>
        <nav>
            <a href="home">
                <h1>User Login</h1>
            </a>
            <div>
                <a href="submit">About</a>
                <a href="register">Register</a>
                <a href="contact">Contact</a>
            </div>
        </nav>

    </header>

    <div class="container">
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </form>
</div>
    
</body>
</html>
