<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Expense</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <header>
        <nav>
            <a href="home">
                <h1>User Registration</h1>
            </a>
            <div>
                <a href="submit">About</a>
                <a href="register">Register</a>
                <a href="contact">Contact</a>
            </div>
        </nav>

    </header>

    <main>
        <div class="container">
            <% if (expenseDetails.length> 0) { %>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% expenseDetails.forEach((expense)=> { %>
                            <tr>
                                <td>
                                    <%= expense.expenseName %>
                                </td>
                                <td>
                                    <%= expense.expenseAmount %>
                                </td>
                                <td>
                                    <%= expense.date %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <% } else { %>
                    <p>No expenses recorded yet.</p>
                    <% } %>
        </div>
    </main>
</body>

</html>