body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    color: #f4f4f4
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #55a6dc;

}

input[type="text"],
input[type="number"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #6eb5ff ;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.expense-list {
    list-style-type: none;
    padding: 0;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

/* Add these styles to your existing CSS */

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: #6eb5ff;
    
}

/* Table headers */
th {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* Table rows */
tr:nth-child(even) {
    color: #6eb5ff;
}

/* Table cells */
td {
    padding: 10px;
    color: #6eb5ff;

}

nav {
    margin-left: 20px;
    display: flex;
    justify-content: space-between; /* Center website name and align links to the left */
    align-items: center; /* Vertically center align the items in the nav */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}